@use "@/styles/variables" as vars;

.content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .pageHeader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .title {
      h1 {
        font-size: 1.5rem;
        line-height: 2rem;
        font-weight: bold;
      }

      span {
        display: block;
        font-size: 0.875rem;
        line-height: 1.25rem;
        color: vars.$text-gray;
      }
    }

    .actions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @media (max-width: 32rem) {
      .actions {
        flex-direction: column;
        gap: 1rem;

        div,
        button {
          width: 100%;
        }
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .listHeader {
      width: 100%;
      padding: 0 1.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      color: vars.$text-gray;
      display: flex;

      & > div {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
      }

      @media (max-width: vars.$breakpoint-md) {
        & > div {
          display: block;

          & span:not(:first-child) {
            display: none;
          }
        }
      }
    }

    .listContent {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }
  }
}
