@use "@/styles/variables" as vars;

.button {
  border: none;
  outline: none;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  background: vars.$primary-color;
  color: white;
  transition: all 0.3ms ease-in-out;
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    opacity: 0.8;
  }
}
