.header {
  width: 100%;
  padding: 0 1.25rem;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);

  .headerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 3rem;
      height: auto;
    }
  }
}
