.header {
  width: 100%;
  padding: 0 1.25rem;
  background-color: white;

  .headerWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
      width: 3rem;
      height: auto;
    }
  }
}
