@use "@/styles/variables" as vars;

.row {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 0.5rem;
  background: #f4f4f5;
  animation: pulse 1.5s infinite ease-in-out;

  .info {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

    .profile {
      display: flex;
      align-items: center;
      gap: 0.75rem;
    }

    .skeletonImg {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      background: #e2e8f0;
    }

    .skeletonText {
      height: 0.875rem;
      border-radius: 0.25rem;
      background: #e2e8f0;
    }

    .skeletonAction {
      width: 1.25rem;
      height: 1.25rem;
      background: #e2e8f0;
      border-radius: 0.25rem;
    }
  }

  @media (max-width: vars.$breakpoint-md) {
    .info {
      display: block;

      & > div {
        display: none;
      }

      .skeletonText {
        width: 100%;
      }
    }
  }

  @keyframes pulse {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
    }
  }
}
